{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}

{% block head_title %}AnisongDB - Home{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>Anisong Database</h1>
      <form action="{% url 'results' %}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Track, Album, Artist, or Composer, ..." class="navSearch">
          <div class="input-group-btn">
            <button class= "btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div> <!-- input group -->
      </form>
        <div class="btn-group btn-filters" data-toggle="buttons" name="primary-filters">
          <label class="btn btn-custom_on" 
            <input type="checkbox" autocomplete="off" checked>Track
          </label>
          <label class="btn btn-custom_on" 
            <input type="checkbox" autocomplete="off" checekd>Album
          </label>
          <label class="btn btn-custom_on" 
            <input type="checkbox" autocomplete="off" checked>Artist
          </label>
          <label class="btn btn-custom_on btn-custom_off" 
            <input type="checkbox" autocomplete="off" checked>Composer
          </label>
        </div> <!-- btn-group -->
    </div> <!-- container -->
  </div> <!-- jumbotron -->


  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2> News </h2>
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Headline</a></h4>
                  </div>
              <div class="panel-heading">
                  <h4 class="panel-title"><a href="#">Breaking News</a></h4>
                </div>
              </div>
        </div>
        <div class="col-md-6">
          <h2> Random </h2>
          <p>This is the defualt time format.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
      </div>
	</div>
{% endblock %}