{% extends "base.html" %}
{% load staticfiles %}
{% load account_tags}

{% block head_title %}AnisongDB - My Profile{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/myprofile.css' %}">
{% endblock %}

{% block content %}

<header class="banner">
  <div class="container">
  </div>
</header>

<div class="page-container">
    <div class="container">
       
      <!-- Tabs -->
      <ul class="nav nav-pills nav-justified pills_myprofile">
        <li {% block profile_active %}{% endblock %}><a data-toggle="pill" href="{% url 'profile' %}">Profile</a></li>
         <li {% block settings_active %}{% endblock %}><a data-toggle="pill" href="{% url 'settings' %}">Account Settings</a></li>
        <li {% block privacy_active %}{% endblock %}><a data-toggle="pill" href="{% url 'privacy' %}">Privacy</a></li>
        <li {% block social_active %}{% endblock %}><a data-toggle="pill" href="{% url 'social' %}">Social Integrations</a></li>
      </ul>

      {% block myprofile_tab %}{% endblock %}
  </div><!--/.container-->
</div><!--/.page-container-->
{% endblock %}


<!--  MAYBE BE USEFUL LATER 
      <div class="myprofile_tab">
        <div id="profile">
          <a href="#profile">Profile</a>
            <div>One might well argue, that...</div>
        </div>
        <div id="settings">
          <a href="#settings">Settings</a>
            <div>... 30 lines of CSS is rather a lot, and...</div>
        </div>
        <div id="socialaccounts">
          <a href="#socialaccounts">Social</a>
            <div>... that 2 should have been enough, but...</div>
        </div>
      </div>
--> 