/* 

No script tabs...

.myprofile_tab { 
	padding-top: 25px;
	min-height: 250px; 
	position: relative; 
	width: 100%; 
}

.myprofile_tab > div { display: inline; }
.myprofile_tab > div > a { 
	margin-left: -1px; 
	position: relative; 
	left: 1px; 
	text-decoration: none; 
	color: black; 
	background: white; 
	display: block; 
	float: left; 
	padding: 5px 10px; 
	border: 1px solid #ccc; 
	border-bottom: 1px solid white; 
}

.myprofile_tab > div:not(:target) > a { 
	border-bottom: 0; 
	background: -moz-linear-gradient(top, white, #eee); 
}	

.myprofile_tab > div:target > a { background: #fd7b00; }	
.myprofile_tab > div > div { 
	background: white; 
	z-index: -2; left: 0; 
	top: 55px; bottom: 0; 
	right: 0; padding: 20px; 
	border: 1px solid #ccc; 
}	

.myprofile_tab > div:not(:target) > div { position: absolute }
.myprofile_tab > div:target > div { 
	position: absolute; 
	z-index: -1; 
}
*/